/* mobile responsive */

@media screen and (max-width:576px) {
    /* navbar section start */
.nav_container{
    flex-direction: column;
    gap: 20px;
    text-align: center;
        padding: 30px 0;
}
.nav_title {
    font-size: 1.3rem;
}

.nav_menu {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* navbar section end */
/* hero_container start */
.hero_container {
    flex-direction: column-reverse;
    text-align: center;
}
.hero_title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin-top: 15px;
}
  /* hero_container end */

  /* company section start */
.company_container {
    margin-top: 50px;
}
.company_logo {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.company_logo img{
    width: 100%;
}
/* company section end */

/* collection_container section start */
.collection_container {
    margin-top: 80px;
}

.collection_container_title {
    font-size: 1.5rem;
}

.collection_card_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    /* max-width: 100%; */
}
.collection_card{
    width: 100%;
}

.card_title {
    font-size: 1.4rem;
}

.card_amound {
    font-size: 1.3rem;
}
/* collection_container section end */

/* featured_container start */
.featured_container {
    flex-direction: column-reverse;
    margin-top: 70px;
    gap: 40px;
}

.featured_description {
    width: 100%;
    text-align: center;
}

.featured_description h2 {
    font-size: 1.6rem;
}

.featured_description p {
    width: 100%;
}

/* featured_container end */

/* footer section start */
footer {
    margin-top: 70px;
}
.footer_document h3 {
    font-size: 1.6rem;
}
/* footer section end */
}