/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* common class start here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --poppins_font:  font-family: "Poppins", sans-serif;
}
.poppins_fonts {
  font-family: "Poppins", sans-serif;
  /* font-weight: 100;
  font-style: normal; */
}

.inter_fonts {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.manrope_fonts {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container{
    max-width: 85%;
    margin: 0 auto;
}
.display_flex{
    display: flex;
}
/* common class end here */


/* header section start here */
.header_preant{
    background-color: #AAAAAA;
}
/* header section end here */